---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import * as icons from 'simple-icons';
import SimpleIcons from '../components/SimpleIcons.astro';
import Twemoji from '../components/Twemojis';
import Socials from '../components/Socials';
import NavBarLinks from '../components/NavBarLinks';
---

<Layout
	title='Nia Statistics - Projects'
	description={'The projects page of the nia-statistics.com website.'}>
	<Card
		href='/'
		title='Nia Statistics'
		description={'All of my cool projects!'}
		imageAlt={'Nia Statistics Logo'}
		imageUrl={'/Main.png'}
		navBar={NavBarLinks}>
		<div class='flex gap-1 justify-center flex-wrap'>
			{
				Socials.map((social) => {
					return (
						<a
							style={{ background: social.hex }}
							class='socials whitespace-nowrap'
							href={social.href}>
							<SimpleIcons
								setFill={'#fff'}
								height='15px'
								width='15px'
								icon={social.icon}
							/>
							&nbsp;
							{social.title}
						</a>
					);
				})
			}
		</div>

		<div style='opacity: 20%; font-size: 12px; text-align: center;'>If you are searching for YouTube channel toplists, click "Projects" in top-right.</div>
		<br />

		<h1>
			Hi! <Twemoji
				client:only
				emoji={'👋'}
				height='30px'
				width='30px'
			/>
		</h1>
		<h2>
			Here are my projects!
		</h2>
		<br />
		<h2>Live-counter sites:</h2>
		<div class='flex fill-white gap-1'>
			<a href="https://mixerno.space">Mixerno.Space*</a>
			<a href="https://livecounts.xyz">Livecounts.xyz*</a>
			<a href="https://axern.space">Axern.Space</a>
		</div>
		<div style='opacity: 20%; font-size: 12px; text-align: left;'>*formerly owned, now working as dev</div>
		<h2>YouTube channels project</h2>
		<div class='flex fill-white gap-1'>
			<a href="/channels-project">Enter the project page</a>
		</div>
		<div style='opacity: 20%; font-size: 12px; text-align: left;'>The project is also used on Axern.Space (V2), Mixerno.Space (V7) and Livecounts.xyz (V3)</div>
		<h2>YouTube trending</h2>
		<div class='flex fill-white gap-1'>
			<a href="/trending/everything">Every video on trending</a>
			<a href="/trending/score">Every video on trending, by score</a>
		</div>
		<h2>YT Subscriber Counts (Discord bot)</h2>
		<div class='flex fill-white gap-1'>
			<a href="https://discord.com/api/oauth2/authorize?client_id=1210530230679371796&permissions=274877958208&scope=bot+applications.commands">Add</a>
			<a href="https://github.com/NiaAxern/discord-youtube-subscriber-count">Source Code</a>
			<a href="https://discord.gg/u5UbpJTcyV">Support server</a>
		</div>

	</Card>
</Layout>

<style>
	h1 {
		margin: 2px;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.2em;
		text-align: left;
	}
	h2 {
		margin: 2px;
		font-size: 1.5rem;
		line-height: 1.2em;
		text-align: left;
	}
	.socials {
		display: flex;
		width: auto;
		max-width: 300px;
		justify-content: center;
		align-items: center;
		background-color: rgba(238, 175, 192, 1);
		border: none;
		border: 50px;
		color: white;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
